
src/\.vs/

LSTMTimeSeriesDemo/bin/
LSTMTimeSeriesDemo/obj/

NeuralNetwork.Base/bin/
NeuralNetwork.Base/obj/

SharpML.Types/bin/
SharpML.Types/obj/

VIXAL2.Data/bin/
VIXAL2.Data/obj/


packages/
*.cache
.vs/
*.suo
Data/FullDataSet_00.csv
