
src/\.vs/

LSTMTimeSeriesDemo/bin/
LSTMTimeSeriesDemo/obj/

NeuralNetwork.Base/bin/
NeuralNetwork.Base/obj/

SharpML.Types/bin/
SharpML.Types/obj/

VIXAL2.Data/bin/
VIXAL2.Data/obj/

VIXAL2.Report/bin/
VIXAL2.Report/obj/

VIXAL2.UnitTest/bin/
VIXAL2.UnitTest/obj/

VIXAL2.Retrieve/bin/
VIXAL2.Retrieve/obj/

CNTK.UnitTestProject/bin/
CNTK.UnitTestProject/obj/

VIXAL2.GUI/bin/
VIXAL2.GUI/obj/

VIXAL2/bin/
VIXAL2/obj/

Data/
Analysis/

packages/
*.cache
.vs/
*.suo
Data/FullDataSet_00.csv
Data/FullDataSet.csv
.vs/CNTK.NET.Samples/v17/.suo
