<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataFolder" value="..\..\..\..\Data"/>
    <add key="OutputCsvFile" value="FullDataSet.csv"/>
    <add key="TimeFrameYears" value="6"/>
    <add key="InputCsvFile" value="stocks.csv"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>