<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!--NormalizerType: type of normalizer used. Can be "None", "MinMax", "Modern", "Classic"-->
		<add key="NormalizerType" value="Classic"/>
		<add key="MoneyForTradesSimulation" value="10000"/>
		<add key="CommisionForTradesSimulation" value="0.0019"/>
		<add key="MaxDaysForTradesSimulation" value="5"/>
		<add key="TradeLenghtForTradesSimulation" value="10"/>
		<add key="MinTrendForTradesSimulation" value="0.02"/>
		<add key="ReportFolder" value="..\..\..\Analysis"/>
		<add key="BatchSize" value="100"/>
		<add key="HiddenLayers" value="1"/>
		<add key="CellsCount" value="30"/>
    <add key="InitialTestCount" value="35"/>
		<add key="MinTrainPercent" value="0.60"/>
	</appSettings>
</configuration>